
{% extends 'partials/base_dashboard.html.twig' %}

{% block title %}Pèriode
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<h1 class="text-primary border-bottom border-warning">Compte : {{BankAccount.name}} > Transaction
		</h1>
	</div>
	<div class="row">
		<nav class="d-flex justify-content-start" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path("app_bank_account" , {"BankAccountId": BankAccount.id}  )}}">{{BankAccount.name}}</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Pèriodes</li>
			</ol>
		</nav>
	</div>
	<div class="row">
		<h2>Toutes les pèriodes</h2>
	</div>
	<div class="row">
		<div class="d-flex justify-content-end p-2">
			<a href="{{ path("app_cycle_new" , {"BankAccountId": BankAccount.id }) }}">
				<button class="btn btn-primary gap-1 d-flex justify-content-center align-items-center">
					Ajouter une pèriode<span class="material-icons">
						add_circle
					</span>
				</button>
			</a>
		</div>
	</div>
	<div class="row p-2">
		{% if cycles is not empty %}
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Date de début</th>
						<th scope="col">Date de fin</th>
						<th scope="col">Solde</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for cycle in cycles %}
						<tr>
							<td>{{ cycle.dateBegin|date("d - m - y") }}</td>
					</td>
					<td>{% if cycle.dateEnd is not empty %}{{cycle.dateEnd|date("d - m - y")}}{% else %}
						<span class="badge bg-info">En cours</span>{% endif %}</td>
					<td>{{cycle.solde}}€</td>
					<td>
						{% if cycle.isActive %}
							<a href="{{ path("app_bank_account" , { "BankAccountId" : BankAccount.id } ) }}">
								<span class="material-icons bg-info p-1 text-light rounded">
									radio_button_checked
								</span>
							</a>
						{% else %}
							<a href="{{ path("app_cycle_enabled" , { "CycleId" : cycle.id } ) }}">
								<span class="material-icons bg-info p-1 text-light rounded">
									radio_button_unchecked
								</span>
							</a>
						{% endif %}
						<a href="{{ path("app_cycle_edit" , { "CycleId" : cycle.id } ) }}">
							<span class="material-icons bg-secondary p-1 text-light rounded">
								edit
							</span>
						</a>
						<a href="{{ path("app_cycle_delete" , { "CycleId" : cycle.id } ) }}">
							<span class="material-icons bg-warning p-1 text-light rounded">
								delete
							</span>
						</a>
					</td>
				</tbody>
			</tr>
		{% endfor %}
	</tbody>
</table>{% endif %}</div></div></div></div>{% endblock %}

