
{% extends 'partials/base_dashboard.html.twig' %}

{% block title %}Categorie
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<h1 class="text-primary border-bottom border-warning">Compte : {{BankAccount.name}} > Catégories</h1>
		</div>
		<div class="row">
			<nav class="d-flex justify-content-start" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{ path("app_bank_account" , {"BankAccountId": BankAccount.id} )}}">{{BankAccount.name}}</a>
					</li>
					<li class="breadcrumb-item " aria-current="page">Catégorie</li>
					<li class="breadcrumb-item active" aria-current="page">Ajouter</li>
				</ol>
			</nav>
		</div>

		<div class="row p-2">
			<div class="col-6 d-flex flex-column shadow border rounded-3 p-4">
				{{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

				{{ include('category/_delete_form.html.twig') }}
			</div>
		</div>
	{% endblock %}

