{% extends 'partials/base_dashboard.html.twig' %}

{% block title %}Hello Dashboard
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<h1 class="border-bottom border-warning">Compte :
				{{BankAccount.name|upper}}
			</h1>
		</div>
		{% if cycle is not defined %}
			<div class="row">
				<div class="d-flex justify-content-end">
					<a href="
											{{ path("app_cycle_new" , { 'BankAccountId': BankAccount.id }) }}
												">
						<button class="btn btn-primary">Ajouter un cycle</button>
					</a>
				</div>
			</div>
			<div class="row">
				<img class="rounded mx-auto d-block" src="{{ asset('build/img/no-session.jpg') }}" alt="">
			</div>
		{% endif %}
		{% if cycle is defined %}
			{% if cycle is not empty %}
				<div class="row">
					<h2>Pèriode du:
						{{ cycle.dateBegin|date("d - M - y") }}
						au
						{{ cycle.dateEnd|date("d - M - y") }}
					</h2>
				</div>
				<div class="row ">
					<div class="d-flex gap-4 my-4">
						<div class="card w-25 rounded-5 shadow bg-gray-700">
							<div class="p-2 fs-4  mx-3">Entrer</div>
							<div class="p-2 fs-2 d-flex justify-content-end">
								<span class="d-block mx-3 text-primary">€</span>
							</div>
						</div>
						<div class="card w-25 rounded-5 shadow">
							<div class="p-2 fs-4  mx-3 ">Sortie</div>
							<div class="p-2 fs-2 d-flex justify-content-end">
								<span class="d-block mx-3 text-danger">€</span>
							</div>
						</div>
						<div class="card w-25 rounded-5 shadow">
							<div class="p-2 fs-4 mx-3">Solde</div>
							<div class="p-2 fs-2 d-flex justify-content-end">
								<span class="d-block mx-3 text-info">{{cycle.solde}}€</span>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endif %}
		
	</div>
</div>{% endblock %}
