{% extends 'partials/base_dashboard.html.twig' %}

{% block title %}Hello Dashboard
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<h1 class="border-bottom border-warning">Bienvenue sur votre tableau de bord
				{{app.user.username|upper}}</h1>
		</div>
		<div class="row">
			<div
				class="d-flex justify-content-end">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddBankAccountModal">
					Créer un compte
				</button>
			</div>
		</div>
		<div
			class="row">


			<!-- Modal -->
			<div class="modal fade" id="AddBankAccountModal" tabindex="-1" aria-labelledby="AddBankAccountModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header ">
							<h5 class="modal-title" id="AddBankAccountModalLabel">Créer un compte</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							{% if errors is not empty %}
								{% for error in erros %}
									<span class="error">{{ error.message }}</span>
								{% endfor %}
							{% endif %}
							{{form_start(addBankAccountForm)}}
							<div class="form-group">
								{{ 
                        form_row(addBankAccountForm.name, {'label' : 'Nom du compte', 'attr': {
                    'placeholder': 'ex : Compte Personnel' }})
																														}}
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
							<button type="submit" class="btn btn-success">Enregistrer</button>
							{{form_end(addBankAccountForm)}}
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>{% endblock %}
