{% extends 'partials/base_dashboard.html.twig' %}

{% block title %}Transaction
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<h1 class="border-bottom border-warning">Bienvenue sur votre tableau de bord
				{{app.user.username|upper}}</h1>
		</div>
		<div class="row">
			<h2>Toutes les transactions</h2>
		</div>
		<div class="row">
			<div class="d-flex justify-content-end p-2">
				<a href="{{ path("app_transaction_new" , {"CycleId":cycle.id }) }}">
					<button class="btn btn-primary">
						Ajouter une transaction<span class="material-icons">
							add_circle
						</span>
					</button>
				</a>
			</div>
		</div>
		<div class="row p-2">
			{% if transactions is not empty %}
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Type</th>
							<th scope="col">Somme</th>
							<th scope="col">Libellé</th>
							<th scope="col">Catégorie</th>
							<th scope="col">Moyen</th>
							<th scope="col">Date</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for transaction in transactions %}
							<tr>
								<td>{{transaction.TypeTransaction.Label}}</td>
								<td>{{transaction.sum}}</td>
								<td>{{transaction.libelle}}</td>
								<td>{{transaction.Category.Label}}</td>
								<td>{{transaction.WayTransaction.Label}}</td>
								<td>{{transaction.dateTransaction|date("d-m-y")}}</td>
								<td>
									<a href="">
										<span class="material-icons bg-secondary p-1 text-light rounded">
											edit
										</span>
									</a>
									<a href="">
										<span class="material-icons bg-warning p-1 text-light rounded">
											delete
										</span>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}

		</div>
	</div>
</div></div>{% endblock %}
